* {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

@media only screen and (min-width: 47.5em){
    html{ font-size: 87%; }
}


.container{
    height: 100vh;
    max-width: 36rem;
    margin-left: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.container h2{
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 500;
}

.container button{
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.submitbtn{
    width: 7rem;
    height: 7rem;
    background-color: rgb(63,66,77);
    border-radius: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitbtn svg{
    fill: white;
    height: 1.9rem;
    width: 1.9rem;
}

.signup{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}