body{
    background-size: cover;
    background-image: url('../public/drawing.svg');
    background-repeat: no-repeat;
}

.container form h3{
    font-size: 2rem;
    color: rgb(63,66,77);
}

.inputs input{
    border-bottom: 2px solid rgb(230, 230, 230);
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    line-height: 2.3;
    margin-top: 2rem;
    width: 22rem;
}

.inputs input::placeholder{
    font-weight: 500;
    color: rgb(148, 148, 148);
    font-size: 1.4rem;
    font-weight: 700;
}

.inputs input:focus{
    color: black;
    font-size: 1.4rem;
}

.signin{
    color: rgb(63,66,77);
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(63,66,77);
    line-height: 1;
    font-weight: bold;

    text-decoration: none;
}

.links{
    width: 75%;
    max-width: 36rem;
    display: flex;
    justify-content: space-between;
}
